.list-style {
  padding-top: 30px;
  color: #212529;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

.list-style-title {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-size: 16.5px;
}

.list-style-buttons {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}
.list-style-btn.bt3 {
  margin-right: 0;
}

.list-style-btn {
  background-color: #868e96;
  transition-duration: 0.4s;
  color: white;
  border: 1.4px solid #e9ecef;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  margin-right: 10px;
}

.bt1 {
  border: 1.4px solid #fd377e;
  background-color: #fd377e;
}

.bt2:hover {
  background-color: #fd377e;
  cursor: pointer;
  color: white;
}

.bt3:hover {
  background-color: #fd377e;
  cursor: pointer;
  color: white;
}

@media only screen and (min-width: 750px) {
  .list-style {
    padding-top: 30px;
    display: flex;
    color: #212529;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .list-style-title {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 0;
    font-family: 'Nunito', sans-serif;
  }

  .list-style-btn {
    background-color: #e9ecef;
    transition-duration: 0.4s;
    color: #868e96;
    border: 1.4px solid #e9ecef;
    box-sizing: border-box;
    border-radius: 8px;
    height: 40px;
    width: 69px;
    margin-right: 10px;
    cursor: pointer;
  }

  .bt1 {
    border: 1.4px solid #fd377e;
    background-color: #fd377e;
    color: white;
  }

  .list-container {
    display: flex;
    width: 560px;
    margin-bottom: 10px;
    justify-content: space-between;
  }

  .vazio {
    margin-top: 45px;
    width: 562px;
    height: 87px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-left: 4px #e9ecef solid;
    border-radius: 4px;
  }
}
