.list-style {
  padding-top: 30px;
  color: #212529;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

.list-style-title {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  font-size: 16.5px;
}

.list-style-buttons {
  display: flex;
  justify-content: center;
}
.list-style-btn.bt3 {
  margin-right: 0;
}

.list-style-btn {
  background-color: #868e96;
  transition-duration: 0.4s;
  color: white;
  border: 1.4px solid #e9ecef;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  margin-right: 10px;
}

.bt1 {
  border: 1.4px solid #fd377e;
  background-color: #fd377e;
}

.bt2:hover {
  background-color: #fd377e;
  cursor: pointer;
  color: white;
}

.bt3:hover {
  background-color: #fd377e;
  cursor: pointer;
  color: white;
}

@media only screen and (min-width: 750px) {
  .list-style-title {
    font-size: 22.5px;
    padding-bottom: 30px;
  }

  .list-style-btn {
    background-color: #868e96;
    transition-duration: 0.4s;
    color: white;
    border: 1.4px solid #e9ecef;
    box-sizing: border-box;
    border-radius: 8px;
    height: 40px;
    width: 100px;
    margin-right: 10px;
  }

  .bt1 {
    border: 1.4px solid #fd377e;
    background-color: #fd377e;
  }

  .list-style {
    padding-top: 40px;
  }
}

@media only screen and (min-width: 1050px) {
  .main-home {
    display: flex;
    justify-content: space-evenly;
  }
  .list-style {
    padding-top: 30px;
    display: flex;
    color: #212529;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
  }

  .list-style-title {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 0;
    font-family: "Nunito", sans-serif;
  }

  .list-style-btn {
    background-color: #e9ecef;
    transition-duration: 0.4s;
    color: #868e96;
    border: 1.4px solid #e9ecef;
    box-sizing: border-box;
    border-radius: 8px;
    height: 40px;
    width: 69px;
    margin-right: 10px;
  }

  .bt1 {
    border: 1.4px solid #fd377e;
    background-color: #fd377e;
    color: white;
  }
}
