.card-container {
  width: 95%;
  margin: 10px auto 10px;
  height: 87px;
  background-color: #f8f9fa;
  background-image: url(../Card/imgs/rec.png);
  background-repeat: no-repeat;
  background-size: 5px;
}

.card-container-entrada {
  width: 95%;
  margin: 10px auto 10px;
  height: 87px;
  background-image: url(../Card/imgs/Rectangle\ 57.png);
  background-repeat: no-repeat;
  background-size: 5px;
}

.card-container-sub {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cardTitle {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  color: #212529;
  padding-top: 15px;
  width: 150px;
}

.card-price {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  padding-top: 17px;
}

.card-span {
  font-family: 'Nunito', sans-serif;
  color: #868e96;
  display: flex;
  justify-content: flex-start;
  margin-left: 10%;
  font-size: 14px;
  padding-top: 15px;
}

.card-span-container {
  transform: translateX(-79%);
  display: flex;
  justify-content: flex-end;
}

.card-bttn {
  border: none;
  margin-top: 15px;
  width: 28px;
  height: 28px;
}

.card-bttn-img {
  height: 15px;
  margin-top: 5px;
  width: 15px;
  border: none;
}

.cardList {
  width: 340px;
  height: 87px;
  display: flex;
  background-color: #f8f9fa;
  margin-top: 24px;
  justify-content: space-between;
  align-items: center;
}

.trashBtn {
  border: none;
  margin-right: 10px;
}

.greenEntry {
  width: 8px;
  height: 87px;
  background-color: #03b898;
  position: absolute;
  border-radius: 20px 0px 0px 20px;
}

.grayExit {
  width: 8px;
  height: 87px;
  background-color: #e9ecef;
  position: absolute;
  border-radius: 20px 0px 0px 20px;
}

@media only screen and (min-width: 750px) {
  .card-container {
    width: 95%;
    margin: 5px auto;
    background-position-x: unset;
  }

  .card-container-sub {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .card-bttn {
    border: none;
    margin-top: 15px;
    width: 28px;
    height: 28px;
  }

  .card-bttn-img {
    height: 15px;
    margin-top: 5px;
    width: 15px;
    border: none;
  }

  .card-span-container {
    transform: translateX(-86%);
    display: flex;
    justify-content: flex-end;
  }

  .cardList {
    width: 560px;
    height: 87px;
    display: flex;
    background-color: #f8f9fa;
    margin-top: 24px;
    cursor: pointer;
    align-items: flex-start;
  }

  .listaCard:hover {
    background: #ffffff;
    box-shadow: 0px 4px 42px -12px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }

  .rightDiv {
    display: flex;
    width: 200px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
  }
  .trashBtn {
    height: 22px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
  }

  .trashBtn:hover {
    background-color: #343a40;
    color: #f8f9fa;
  }

  .leftDiv {
    width: 337px;
    margin-left: 20px;
  }

  .description {
    font-family: 'Nunito';
    margin-top: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #212529;
    height: 39px;
    margin-bottom: 0;
  }

  .value {
    height: 39px;
    display: flex;
    align-items: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
    line-height: 22px;
    color: #212529;
    margin-right: 0;
  }

  .type {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #343a40;
    width: 62px;
    height: 27px;
  }
}
