.card-container {
  width: 95%;
  margin: 10px auto 10px;
  height: 87px;
  background-color: #f8f9fa;
  background-image: url(../Card/imgs/rec.png);
  background-repeat: no-repeat;
  background-size: 5px;
}

.card-container-entrada {
  width: 95%;
  margin: 10px auto 10px;
  height: 87px;
  background-image: url(../Card/imgs/Rectangle\ 57.png);
  background-repeat: no-repeat;
  background-size: 5px;
}

.card-container-sub {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-title {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #212529;
  padding-top: 15px;
  width: 150px;
}

.card-price {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  padding-top: 17px;
}

.card-span {
  font-family: "Nunito", sans-serif;
  color: #868e96;
  display: flex;
  justify-content: flex-start;
  margin-left: 10%;
  font-size: 14px;
  padding-top: 15px;
}

.card-span-container {
  transform: translateX(-79%);
  display: flex;
  justify-content: flex-end;
}

.card-bttn {
  border: none;
  margin-top: 15px;
  width: 28px;
  height: 28px;
}

.card-bttn-img {
  height: 15px;
  margin-top: 5px;
  width: 15px;
  border: none;
}

@media only screen and (min-width: 750px) {
  .card-container {
    width: 80%;
    margin: 10px auto;
    background-position-x: 96%;
  }

  .card-title {
    font-size: 17px;
    width: 150px;
  }

  .card-container-sub {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .card-price {
    font-size: 14px;
  }

  .card-span {
    margin-left: 7%;
  }

  .card-bttn {
    border: none;
    margin-top: 15px;
    width: 28px;
    height: 28px;
  }

  .card-bttn-img {
    height: 15px;
    margin-top: 5px;
    width: 15px;
    border: none;
  }
}

@media only screen and (min-width: 1050px) {
  .main-home {
    display: flex;
    justify-content: space-evenly;
  }
  .card-container {
    width: 95%;
    margin: 5px auto;
    background-position-x: unset;
  }

  .card-container-sub {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .card-bttn {
    border: none;
    margin-top: 15px;
    width: 28px;
    height: 28px;
  }

  .card-bttn-img {
    height: 15px;
    margin-top: 5px;
    width: 15px;
    border: none;
  }

  .card-span-container {
    transform: translateX(-86%);
    display: flex;
    justify-content: flex-end;
  }
}
