.total-section {
  display: flex;
  background-color: #e34981;
  height: 68px;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 16px;
}

.total-section-value {
  display: flex;
  align-items: center;
}

.total-section-price {
  display: flex;
  align-items: center;
  margin-left: 30%;
}

.total-container {
  width: 95%;
  margin: auto;
}

@media only screen and (min-width: 750px) {
  .total-container {
    display: flex;
    justify-content: center;
  }

  .total-section {
    display: flex;
    background-color: #e34981;
    width: 80%;
    height: 68px;
    justify-content: space-around;
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 16px;
  }

  .total-section-value {
    display: flex;
    align-items: center;
    margin-left: 0;
  }
}

@media only screen and (min-width: 1050px) {
  .total-section {
    display: flex;
    background-color: #e34981;
    width: 42%;
    height: 68px;
    justify-content: space-around;
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 16px;
  }

  .total-container {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
