/* ..main-home {
  display: flex;
  justify-content: space-evenly;
}

.form-total {
  min-width: 34.6%;
  margin-top: 20px;
} */

/* HEADER QUERY */

/* FORM QUERY */

/* CARD QUERY */

/* TOTALMONEY QUERY */
